h1{
    background-color:gold;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    color: green;
}
img{
    width: 280px;
    height: 240px;
}
p{
    font-weight:bold;
    font-size: 20px;
    color: rgb(0, 128, 0);
}
h2{
    background-color: gold;
    color: green;
}
table,td,tr,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
}
footer h3{
    color:crimson;
}